.form {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form--input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form--input {
    padding: 0.7em 1em;
    border-radius: 5px;
    border: solid 1px #D1D5DB;
    font-size: 0.875rem;
    margin-top: 5px;
    font-family: inherit;
    outline-color: #A626D3;
}